textarea {
	height: 99%;
	width: 99%;
	resize: none;
}

.CodeMirror, .CodeMirror-scroll {
	height: inherit;
}
.activeline {
	background: #e8f2ff !important;
}

#algoViewContainer {
	width: 75%;
	height: 90%;
	margin: 49px auto;
}

.float-wrap {
	height: 480px;
}

.float-wrap > div {
	position: relative;
	height: 100%;
	width: 49%;
	float: left;
	border: solid 1px;
}

.sample-input-editor {
	height: 52px;
}
.has-input>.sample-input-editor {
	display: block;
}
.algo-view {
	height: 100%;
}
.has-input>.algo-view {
	height: 428px;
}