.CodeMirror, .CodeMirror-scroll {
	height: inherit;
}
.activeline {
	background: #e8f2ff !important;
}

textarea {
	height: 99%;
	width: 99%;
	resize: none;
}

#mainContainer {
	width: 86%;
	height: 90%;
	margin: 39px auto;
}

.float-wrap {
	height: 320px;
}

.float-wrap > div {
	position: relative;
	height: 100%;
	width: 49%;
	float: left;
	border: solid 1px;
}

#runButton {
	position: absolute;
	right: 17px;
	z-index: 1;
}

.marked {
	background-color: yellow !important;
}

.decl {
	background-color: #E2C7D8 !important;
}

.declInit {
	background-color: #D0E4D0 !important;
}

.loop {
	background-color: #C8FFC8;
}